<%= form_with(model: filme, local: true) do |form| %>
  <% if filme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filme.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
      <% filme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field">
    Nome
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    Gênero
    <%= form.collection_select :genero_id, Genero.all, :id, :nome, :selected => @filme.genero %>
  </div>

  <div class="field">
    Preço de Locação
    <%= form.number_field :preco_de_locacao, step: 0.5, min: 0 %>
  </div>
  <div class="actions">
    <%= form.submit "Confirmar", :class => 'btn' %>
  </div>
</div>

<% end %>
